[package]
name = "aeko-unified-scheduler-logic"
description = "The AEKO unified scheduler logic"
documentation = "https://docs.rs/aeko-unified-scheduler-logic"
version = { workspace = true }
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
edition = { workspace = true }

[dependencies]
aeko-sdk = { workspace = true }
