AEKO_IMAGE_REPOSITORY=surdma
AEKO_IMAGE_TAG=<published-12-character-main-sha>
AEKO_INTERNAL_RPC_URL=http://10.0.0.10:8899
AEKO_RESET_LEDGER=0
AEKO_REWARDS_TREASURY_SEED_LAMPORTS=0
AEKO_REWARD_VAULT_SEED_LAMPORTS=0
AEKO_STAKE_REWARD_VAULT_SEED_LAMPORTS=0
AEKO_PLATFORM_FEE_BPS=200
AEKO_LOG_MAX_SIZE=10m
AEKO_LOG_MAX_FILES=3
